<h1> New Record</h1>
<form action="/subscription" method="post">
<table>
<tr> <td> Customer ID </td> <td> <input type="number" name="customer_id" required> </td> </tr>
<tr> <td> Product ID </td> <td> <input type="number" name="product_id" required> </td> </tr>
<tr> <td> Subscribedate: </td> <td> <input type="date" name="subscribedate" required> </td></tr>
<tr> <td> Unsubscribedate: </td> <td> <input type="date" name="unsubscribedate" required> </td></tr>

</table>
<button type="submit">Save</button>
</form>